.father{
    display: flex;
    background-color: blueviolet;
    flex-direction: row;
    height: 300px;
    justify-content: center;
}

.father > div {
    background-color: yellowgreen;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}
.item1{
   
}
.item2{
    
}

.item3{
    flex-grow: 1;
}
 body{
    padding-top: 20px;
 }