body{
    padding: 20px;
}

.father{
    display: flex;
    background-color: blueviolet;
    flex-direction: row;
    height: 300px;
    justify-content: center;
}

.father > div {
    background-color: yellowgreen;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    
}
.item1{
   flex-shrink: 1;
   align-self: center;
}
.item2{
   flex-basis: 150px;
   align-self: baseline; 
}

.item3{
    flex-grow: 1;
}

.grid-c{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: chocolate;
    padding: 20px;
}
.grid-c > div {
    background-color: aliceblue;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 1px solid black;
}

.i8 {
    grid-area: myArea;
    grid-column:3/ span2;
    grid-row: 3 / 4;
}
.grid-c{
    
}


